:root {
    --red-bg: rgb(250, 114, 114);
    --yellow-bg: #FFC796
}

body {
    background-image: linear-gradient(to top, rgb(250, 114, 114), #FFC796);
    font-weight: 600;
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    background-color: var(--red-bg);
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0
}

main {
    overflow: scroll
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 10%
}

a {
    text-decoration: none
}

h1,
h2,
h3 {
    font-family: 'Work Sans', sans-serif;
}

header ul li a {
    font-size: 12px;
    padding: 0 0.94rem;
    transition: 0.2s;
    text-transform: uppercase;
    color: black
}

header ul li a:hover {
    color: var(--yellow-bg);
    transition: 0.2s
}

.container {
    position: relative;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.section1 {
    padding: 6rem 0 0;
}

.section1 img {
    border-style: none;
    border-radius: 50%;
    margin: 0 auto;
    width: 200px;
    display: block
}

h1 {
    text-align: center;
    font-size: 24px;
}

.section2 {
    width: 80%;
    max-width: 1100px;
    height: auto;
    background-color: white;
    text-align: center;
    margin: 4rem auto 2rem;
    padding: 3.2rem 1rem;
    box-shadow: 0.6rem 0.6rem 0 rgb(0 0 0 / 40%), -0.6rem -0.6rem rgb(255 114 114 / 80%)
}

.sub-section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap
}

h3 {
    margin: 1rem 0
}

.container-image img {
    height: auto;
    max-width: 250px;
    width: 100%;
    background-size: cover;
    background-position: center
}

.container-text {
    height: auto;
    margin: 0;
    width: 100%;
    text-align: left
}

#section3 {
    margin: 0;
    width: 100%;
    height: auto;
    text-align: center;
    display: flex
}

.container-projet {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.section3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    width: 100%
}

.project {
    width: 400px;
    height: 400px;
    background-color: white;
    position: relative;
    border-radius: 0.6rem;
    margin: 1.2rem;
    background-size: cover;
    background-position: center;
}

.projet-cite-science {
    background-image: url('./../images/Parc_de_la_Villette_La_Geode.webp')
}

.projet-rpg {
    background-image: url('./../images/rpg.webp')
}

.projet-codepen {
    background-image: url('./../images/codepen.webp')
}

.text {
    position: absolute;
    height: 200px;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 2;
    background-color: white;
    overflow: hidden;
    transition: 0.2s;
}

.text:hover {
    height: 200px;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.text a {
    background-color: var(--red-bg);
    border-radius: 5px;
    width: 160px;
    margin-bottom: 1.9rem;
    padding: 5px;
    color: black;
    font-weight: bold;
}

.text a:hover {
    background-color: var(--yellow-bg);
    ;
    color: var(--red-bg);
    border: 1px solid var(--red-bg);
}

.text p {
    margin: 1rem 0.6rem
}

footer {
    background-color: var(--red-bg);
    display: flex;
    justify-content: space-between;
    align-items: center
}

.copyright {
    width: 100%;
    margin-left: 1rem
}

.icone {
    width: 2.2rem;
    height: 2.2rem
}

footer nav {
    position: relative;
    justify-content: flex-end
}

footer nav li {
    margin: 0 1rem
}

@media screen and (min-width:550px) {
    .container {
        padding: 0 0.94rem
    }

    .section1 {
        padding: 8.12rem 1rem 0;
    }

    h1 {
        margin: 1.87rem 0 6.25rem
    }

    .container-text {
        width: 40%;
        margin-left: 2.5rem
    }

    .section2 {
        padding: 2.5rem 3.1rem 4.4rem;
    }

    .sub-section2 {
        padding: 5px;
    }

    #section3 {
        padding: 2.5rem 3.1rem 4.4rem;
        width: 90%;
        padding: 5px;
        margin: 5%;
    }

    h3 {
        margin: 1rem
    }

    header ul li a {
        font-size: 16px;
    }

    .text {
        height: 165px;
    }
}

@media screen and (min-width:1170px) {
    .text {
        height: 73px;
    }

    main {
        overflow: hidden
    }

    #section3 {
        padding: 2.5rem 3.1rem 4.4rem;
    }

    .section3 {
        width: auto;
        margin: 0 auto;
    }
}